:root {
    --color-primary: hsl(203, 36%, 20%);
    --color-primary-light: hsl(203, 36%, 30%);

    --color-secondary: hsl(9, 73%, 59%);
    --color-secondary-light: hsl(9, 73%, 69%);

    --color-background: #FFF;
    --color-black: #000; 
}

$primary-font: serif;
$secondary-font: sans-serif;

$navigation-desktop-height: 104px;

$z-index: (
    skip-nav: 20,
    navigation: 10,
    default: 0,
);

$breakpoints: (
    x-tiny: 350,
    tiny: 400,
    x-small: 480,
    mid-small: 600,
    small: 768,
    medium: 960,
    mid-large: 1050,
    large: 1224,
    x-large: 1440,
    xx-large: 1525
);
