.btn {
  width: 19rem;
  height: 6rem;
  display: inline-block;
  position: relative;
    
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  
  padding: 14px 0px;
  border-radius: 12rem;
  box-shadow: 0 2px 10px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.1);
  
  -webkit-transition: 0.3s all ease;
  transition: 0.3s ease all;

  &.btn-style-1 {
    background-color: var(--color-secondary);
    color: var(--color-background);
    border: 2px solid var(--color-secondary);

    &:before {
      background-color: var(--color-background);
    }

    &:hover,
    &:focus {
      color: var(--color-secondary);
    }
  }

  &.btn-style-2 {
    background-color: var(--color-secondary);
    color: var(--color-background);
    border: 2px solid var(--color-background);

    &:before {
      background-color: var(--color-background);
    }

    &:hover,
    &:focus {
      color: var(--color-secondary);
    }
  }

  &.btn-style-3 {
    background-color: var(--color-background);
    color: var(--color-secondary);
    border: 2px solid var(--color-secondary);

    &:before {
      background-color: var(--color-secondary);
    }

    &:hover,
    &:focus {
      color: var(--color-background);
    }
  }
    
  &:before {
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    z-index: -2;
      
    content: '';
  
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
  }
    
  &:hover {      
    &:before {
      left: 0;
      right: 0;
      opacity: 1;
      border-radius: 12rem;
        
      -webkit-transition: 0.5s all ease;
      transition: 0.5s all ease;
    }
  }
    
  &:focus {
    &:before {
      left:0;
      right:0;
      opacity:1;
      border-radius: 12rem;
        
      transition:0.5s all ease;
    }
  }
}
