.btn-style-1 {
    width: 19rem;
    height: 6rem;

    background-color: #E3634B;
    color: white;
    border: 2px solid #E3634B;
    border-radius: 12rem;
}

.btn-style-2 {
    width: 19rem;
    height: 6rem;

    background-color: #E3634B;
    color: white;
    border: 2px solid white;
    border-radius: 12rem;
}

.btn-style-3 {
    width: 19rem;
    height: 6rem;

    background-color: white;
    color: #E3634B;
    border: 2px solid #E3634B;
    border-radius: 12rem;
}