.hero {
    display: flex;

    width: 100%;
    height: 471px;

    .header {
        background-color: #213846;
        min-width: 200px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        padding: 0 15%;
    }

    .header h1 {
        color: #FFFFFF;
        font-weight: 800;
        font-size: 5rem;
        line-height: 1.2em;
    }

    .header button {
        width: 220px;
        height: 60px;
        margin-top: 30px;
        padding: 18px;
        border-radius: 120px;
        background-color: #e3634b;
        border: none;

        color: #FFFFFF;
        font-weight: 400;
        font-size: 2rem;
        line-height: 1.1em;
    }

    .images {
        width: 716px;
        display: grid;
        grid-template-columns: 358px 358px;
        grid-template-rows: 50% 50%;
    }

    .image-1 {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
        justify-self: start;
        align-self: start;
        z-index: 1;
    }

    .image-2 {
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
        justify-self: end;
        align-self: start;
    }

    .image-3 {
        grid-column: 1 / span 1;
        grid-row-end: 3;
        justify-self: start;
        align-self: end;
    }

    .image-4 {
        grid-column-end: 3;
        grid-row-end: 3;
        justify-self: end;
        align-self: end;
    }

}
