.project-grid{

    .title {
        font-family: Abhaya Libre, sans-serif;
        color: black;
        font-size: 4.8em;
        text-align: center;
        padding-bottom: 0.2em;
    }

    .lineBreak {
        width: 60%;
        color: #213846;
        margin-left: auto;
        margin-right: auto;
    }

    .container {
        display: flex;
        flex-wrap:  wrap;
        margin: 2.5em 10em;
        justify-content: space-around;
        text-align: center;
        height: 70em;
        row-gap: 2em;
        padding: 4em;
    }

    .box {
        display: inline-block;
        border: none;
        width: 415px;
        height: 300px;
        border-radius: 2em;
        position: relative;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    } 

    .box img {
        width: 100%;
        object-fit: cover;
        border: none;
        border-radius: 2em;
    }

    .box .mission {
        position: absolute;
        font-family: Inter, sans-serif;
        color: white;
        left: 50%;
        top: 50%;
        font-size: 4em;
        transform: translate(-50%, -50%);
        white-space: nowrap;
    }

    .box .date {
        position: absolute;
        font-family: Inter, sans-serif;
        color: white;
        left: 50%;
        top: 62%;
        font-size: 1.8em;
        transform: translate(-50%, -50%);
        padding-top: 1em;
    }

    .button {
        text-align: center;
        padding-top: 1.5em;
        padding-bottom: 5em;
    }

    .buttonInfo{
        font-family: Akshar, sans-serif;
        font-size: 1.8em;
        background: white;
        text-decoration: none;
        text-align: center;
        border: 2px solid #E3634B;
        color: #e3634b;
        padding: 1% 2%;
        border-radius: 12em;
    }

}



