.project-grid{

    .title {
        color: black;
        font-size: 4.5em;
        text-align: center;
        padding-bottom: 0.5em;
    }

    .lineBreak {
        width: 70%;
        color: #213846;
        margin-left: auto;
        margin-right: auto;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        text-align: center;
        row-gap: 2em;
        padding: 4em;
    }

    .box {
        display: inline-block;
        border: 1px solid black;
        width: 400px;
        height: 300px;
        border-radius: 1.5em;
    } 

    .button {
        text-align: center;
    }

    .buttonInfo{
        background: white;
        text-align: center;
        border: 2px solid #E3634B;
        color: #e3634b;
        padding: 1% 2%;
        border-radius: 12em;
    }

}



