// design title and center text 
.title {
    color: black;
    font-size: 5em;
    text-align: center;
}


// create flex box for the 2 x 2 grid 



//add spaces between the squares 



// center the text inside the squares




