.tab-block {
    margin: 10px;
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    .tab-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 45px;
    
        padding-left: 44px;
    }
    
    .tab {
        padding: 10px 10px 40px 10px;
        width: 200px;
        height: 60px;
        border: none;
        border-radius: 15% 0 0 0;
        background-color: #e3634b;
        color: white;

        z-index: 1;
        position: relative;
        top: 12px;
        font-size: 3em;
        cursor: pointer;
    }

    .tab:first-of-type {
        height: 85px;
        top: 25px;
    }

    .tab h2 {
        position: relative;
        z-index: 1;
    }

    .tab::before {
        content: "";
        position: absolute;
        z-index: 0;
        top: 0;
        left: -21px;
        bottom: 0;
        width: 80px;
        background-color: #e3634b;
        transform: skew(-30deg);
        border-radius: 18px 0 0 0;
    }

    .tab:first-of-type::before {
        border-radius: 18px 0 0 10px;
    }

    .tab::after {
        content: "";
        position: absolute;
        z-index: 0;
        top: 0;
        right: -40px;
        bottom: 0;
        width: 80px;
        height: 60px;
        background-color: #e3634b;
        box-shadow: 4px 0px 0px rgba(0, 0, 0, 0.25);
        transform: skew(40deg);
        border-radius: 0 8px 0 0;
    }

    .active-tab {
        text-align: center;
        z-index: 3;
        box-shadow: none;
    }

    .active-tab h2 {
        position: relative;
        z-index: 3;
    }

    .active-tab::before {
        z-index: 2;
        box-shadow: -3px 0px 0px rgba(0, 0, 0, 0.10);
    }

    .active-tab::after {
        z-index: 2;
        box-shadow: 3px 0px 0px rgba(0, 0, 0, 0.10);
    }
    
    .content-container {
        display: none;
        padding: 10px;
    }
    
    .active-content {
        z-index: 2;
    
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    
        width: 1024px;
        height: 668px;
        border: none;
        border-radius: 30px;
        box-shadow: 0px -3px 6px rgba(0, 0, 0, 0.10);
        background-color: #e3634b;
    }
    
    .content-image {
        max-width: 500px;
        max-height: 500px;
        padding: 20px;
    }
    
    .text-container > h3 {
        padding: 0 20px 20px 20px;
        font-size: 1.5em;
    }
    
    .text-container > p {
        padding: 0 20px 10px 20px;
    }
    
    .text-container > p:last-of-type {
        padding-bottom: 30px;
    }
    
    .cta-container {
        padding: 0 20px 10px 20px;
        font-size: 1.25em;
    }
    
    .cta-image {
        display: inline;
        vertical-align: text-bottom;
        margin-left: 5px;
        width: 80px;
        height: 1.25rem;
    }
    
    .cta-container a:link {
        text-decoration: none;
        color: black;
    }
    
    .cta-container a:hover {
        text-decoration: underline;
        color: blue;
    }
    
    .cta-container a:active {
        color: red;
    }
    
    .cta-container a:visited {
        color: purple;
    }
}
