* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tab-block {
    margin: 0 auto;
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tab-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    align-self: flex-start;

    padding-left: 10px;
}

.tab {
    padding: 10px 20px 15px 20px;
    width: 150px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: white;

    position: relative;
    top: 10px;

}

#tab-one {
    z-index: -3;
}

#tab-two {
    z-index: -2;
    right: 20px;
}

#tab-three {
    z-index: -1;
    right: 40px;
}

.content-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 50px;
    width: 600px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: white;
}

.content-image {
    width: 500px;
    height: 500px;
    padding: 20px;

    border: 1px solid red;
}

.cta-image {
    width: 30px;
    height: 10px;

    border: 1px solid red;
}