.tab-block {
    margin: 0 auto;
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    .tab-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1.5em;
    
        padding-left: 37px;
    }
    
    .tab {
        padding: 10px 10px 40px 10px;
        width: 225px;
        height: 70px;
        border: none;
        border-radius: 8px;
        background-color: #e3634b;
    
        position: relative;
        top: 35px;
        font-size: 1.2rem;
        cursor: pointer;
    }

    .tab::before {
        content: "";
        position: absolute;
        top: 0;
        left: -1.5em;
        bottom: 0;
        width: 2em;
        background-color: #e3634b;
        transform: skew(-20deg);
        border-radius: 12px 0 0 0;
    }

    .tab::after {
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        right: -2.6em;
        bottom: 0;
        width: 2.7em;
        background-color: #e3634b;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
        transform: skew(40deg);
        border-radius: 0 8px 0 0;
    }
    
    .active-tab {
        top: 10px;
        font-size: 1.6rem;
        text-align: center;
    }

    .active-tab::before {
        width: 2.5em;
    }

    .active-tab::after {
        width: 3.5em;
    }
    
    .content-container {
        display: none;
        padding: 10px;
    }
    
    .active-content {
        z-index: 1;
    
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    
        width: 990px;
        height: 668px;
        border: 1px solid black;
        border-radius: 8px;
        background-color: white;
    }
    
    .content-image {
        max-width: 500px;
        max-height: 500px;
        padding: 20px;
    }
    
    .text-container > h3 {
        padding: 0 20px 20px 20px;
        font-size: 1.5em;
    }
    
    .text-container > p {
        padding: 0 20px 10px 20px;
    }
    
    .text-container > p:last-of-type {
        padding-bottom: 30px;
    }
    
    .cta-container {
        padding: 0 20px 10px 20px;
        font-size: 1.25em;
    }
    
    .cta-image {
        display: inline;
        vertical-align: text-bottom;
        margin-left: 5px;
        width: 80px;
        height: 1.25rem;
    }
    
    .cta-container a:link {
        text-decoration: none;
        color: black;
    }
    
    .cta-container a:hover {
        text-decoration: underline;
        color: blue;
    }
    
    .cta-container a:active {
        color: red;
    }
    
    .cta-container a:visited {
        color: purple;
    }
}
