<section class="btn-test">
    <a href="#0" class="btn btn-style-1">Style One</a>
    <a href="#0" class="btn btn-style-2">Style Two</a>
    <a href="#0" class="btn btn-style-3">Style Three</a>
</section>