<section class="btn-test">
    <div class="light">
        <a href="#0" class="btn btn-style-1 text-2">Style One</a>
        <a href="#0" class="btn btn-style-2 text-2">Style Two</a>
        <a href="#0" class="btn btn-style-3 text-2">Style Three</a>
    </div>
    <div class="dark">
        <a href="#0" class="btn btn-style-1 text-2">Style One</a>
        <a href="#0" class="btn btn-style-2 text-2">Style Two</a>
        <a href="#0" class="btn btn-style-3 text-2">Style Three</a>
    </div>
</section>