<div class="card-parent">
    <div class="card">
        <div class="card-content">
            <h5>Mission Project</h5>
            <span>date of event</span>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum eligendi incidunt harum quis fugiat?
                Laborum,
                doloremque labore architecto rem voluptates iusto tempore eos, fugiat neque sint officia nobis nesciunt
                vero!
            </p>
        </div>
    </div>
    <div class="card">
        <div class="card-content">
            <h5>Mission Project</h5>
            <span>date of event</span>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum eligendi incidunt harum quis fugiat?
                Laborum,
                doloremque labore architecto rem voluptates iusto tempore eos, fugiat neque sint officia nobis nesciunt
                vero!
            </p>
        </div>
    </div>
    <div class="card">
        <div class="card-content">
            <h5>Mission Project</h5>
            <span>date of event</span>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum eligendi incidunt harum quis fugiat?
                Laborum,
                doloremque labore architecto rem voluptates iusto tempore eos, fugiat neque sint officia nobis nesciunt
                vero!
            </p>
        </div>
    </div>
    <div class="card">
        <div class="card-content">
            <h5>Mission Project</h5>
            <span>date of event</span>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum eligendi incidunt harum quis fugiat?
                Laborum,
                doloremque labore architecto rem voluptates iusto tempore eos, fugiat neque sint officia nobis nesciunt
                vero!
            </p>
        </div>
    </div>
</div>