<div class="footer-callout">
    <div id="footer-callout-div">
        <div id="footer-callout-image"> 

        </div>
        <div id="footer-callout-div-text">
            <h2 id="footer-callout-header">Start Your Journey Today</h2>
            <p id="footer-callout-text">Contact us or read more about our program</p>
            <button class="footer-callout-btn">Apply to Program</button>
            <button class="footer-callout-btn" id="footer-callout-btn-two">Volunteer</button>
        </div>
    </div>
</div>