<footer class="footer__basic">
    <div class="footer__header">
        <h4>Thank you to all our sponsers</h4>
    </div>
    <div class="footer__container">
        <div class="footer__sponsor">
            <img src="http://pigment.github.io/fake-logos/logos/small/color/greens-food-suppliers.png">
        </div>
        <div class="footer__sponsor">
            <img src="http://pigment.github.io/fake-logos/logos/small/color/auto-speed.png">
        </div>
        <div class="footer__sponsor">
            <img src="http://pigment.github.io/fake-logos/logos/small/color/crofts-accountants.png">
        </div>
        <div class="footer__sponsor">
            <img src="http://pigment.github.io/fake-logos/logos/small/color/cheshire-county-hygiene-services.png">
        </div>
    </div>

</footer>

