<section class="hero">
    <div class="header">
        <h1>The Invisible Man Program</h1>
        <button>Apply To Program</button>
    </div>
    <img class="image-1" src="https://placehold.co/380x188/gray/FFF" alt="a 380 by 188 placeholder picture">
    <img class="image-2" src="https://placehold.co/335x182/light-gray/gray" alt="a 335 by 182 placeholder picture">
    <img class="image-3" src="https://placehold.co/317x294/light-gray/gray" alt="a 317 by 294 placeholder picture">
    <img class="image-4" src="https://placehold.co/409x294/000000/FFF" alt="a 409 by 294 placeholder picture">
</section>
