<section class="hero">
    <div class="header">
        <h1>The Invisible Man Program</h1>
        <button>Apply To Program</button>
    </div>
    <img class="image-1" src="https://placehold.co/380x188/gray/FFF" alt="">
    <img class="image-2" src="https://placehold.co/335x182/light-gray/gray" alt="">
    <img class="image-3" src="https://placehold.co/317x294/light-gray/gray" alt="">
    <img class="image-4" src="https://placehold.co/409x294/000000/FFF" alt="">
</section>
