    <nav class="nav-container">
        <div class="logo">
            <a href="#">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="73" height="72" viewBox="0 0 73 72" fill="none">
                    <rect width="73" height="72" fill="url(#pattern0)"/>
                    <defs>
                        <pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">
                            <use xlink:href="#image0_246_122" transform="matrix(0.00191527 0 0 0.00194553 -6.98604e-10 -0.0376085)"/>
                        </pattern>
                    </defs>
                </svg>
            </a>
        </div>
        <ul class="nav-items">
            <li class="nav-item">
               <a href="#">Our Story</a>
            </li>
            <li class="nav-item">
                <a href="#">Our Program</a>
            </li>
            <li class="nav-item">
                <a href="#">Mission Work</a>
            </li>
            <li class="nav-item">
                <a href="#">Contact Us</a>
            </li>
            <li class="nav-item">
                <button class="donate-bnt">
                    <a href="#">Give</a>
                </button>
            </li>
        </ul>
    </nav>
