<nav class="navbar">
	<div class="container">
		<div class="row">
			{% include ('_modules/svg.twig') %}
		</div>
		<div class="list">
			<ul class="text-links">
				<li class="col">
					<a href="" class="link story">Our Story</a>
				</li>
				<li class="col">
					<a href="" class="link program">Our Program</a>
				</li>
				<li class="col">
					<a href="" class="link mission">Mission Work</a>
				</li>
				<li class="col">
					<a href="" class="link contact">Contact</a>
				</li>
				<li class="col">
					<button type="button" class="giveBTN" onclick="">Give</button>
				</li>
			</ul>
		</div>
	</div>
</nav>
