
<body>
<h1 class="title"> Projects In Missouri </h1>
<br class="linebreak"></br>

<section class="fourSquares">

    <section class="squareOne">
    <h3>Mission Project</h3>
    <p> month/day/year </p>
    </section>

    <section class="squareTwo">
    <h3>Mission Project</h3>
    <p> month/day/year </p>
    </section>

    <section class="squareThree">
    <h3>Mission Project</h3>
    <p> month/day/year </p>
    </section>

    <section class="squareFour">
    <h3>Mission Project</h3>
    <p> month/day/year </p>
    </section>

</section>

<section class="button">
    <button type="button"> Learn More</button>
</section>


</body>

