<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@800&family=Inter&family=Roboto&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Akshar&family=Roboto&display=swap" rel="stylesheet">


<div class="project-grid">
<h1 class="title"> Projects in Missouri</h1>
<hr class="lineBreak"></hr>

<section class="container">

    <div class="box"> 
        <img src="https://placehold.co/400x300/888888/888888" alt="project image" style="width:400x300">
            <h3 class="mission"> Mission Project</h3>
            <p class="date"> month day, year </p>
    </div>

    <div class="box">
        <img src="https://placehold.co/400x300/888888/888888" alt="project image" style="width:400x300">
            <h3 class="mission">Mission Project</h3>
            <p class="date"> month day, year </p>
    </div>

    <div class="box">
        <img src="https://placehold.co/400x300/888888/888888" alt="project image" style="width:400x300">
        <h3 class="mission">Mission Project</h3>
        <p class="date"> month day, year </p>
    </div>

    <div class="box">
        <img src="https://placehold.co/400x300/888888/888888" alt="project image" style="width:400x300">
        <h3 class="mission">Mission Project</h3>
        <p class="date"> month day, year </p>
    </div>

</section>

<section class="button">
    <a href="#" class="buttonInfo">LEARN MORE</a> 
 </section>
</div>