

<div class="project-grid">
<h1 class="title"> Projects In Missouri</h1>
<hr class="lineBreak"></hr>


<section class="container">

    <div class="box"> 
        <img src="https://placehold.co/400x300" alt="project image" style="width:400x300">
        <h3 class="mission">Mission Project</h3>
        <p class="date"> month day, year </p>
    </div>

    <div class="box">
        <img src="https://placehold.co/400x300" alt="project image" style="width:400x300">
        <h3 class="mission">Mission Project</h3>
        <p class="date"> month day, year </p>
    </div>

    <div class="box">
        <img src="https://placehold.co/400x300" alt="project image" style="width:400x300">
        <h3 class="mission">Mission Project</h3>
        <p class="date"> month day, year </p>
    </div>

    <div class="box">
        <img src="https://placehold.co/400x300" alt="project image" style="width:400x300">
        <h3 class="mission">Mission Project</h3>
        <p class="date"> month day, year </p>
    </div>

</section>

<section class="button">
    <button class="buttonInfo"> Learn More</button> 
 </section>
</div>