

<div class="project-grid">
<h1 class="title"> Projects In Missouri</h1>
<hr class="lineBreak"></hr>


<section class="container">

    <div class="box">
        <h3>Mission Project</h3>
        <p> month/day/year </p>
    </div>

    <div class="box">
        <h3>Mission Project</h3>
        <p> month/day/year </p>
    </div>

    <div class="box">
        <h3>Mission Project</h3>
        <p> month/day/year </p>
    </div>

    <div class="box">
        <h3>Mission Project</h3>
        <p> month/day/year </p>
    </div>

</section>

<section class"button">
    <button class="buttonInfo"> Learn More</button> 
 </section>
</div>