
<body>
<h1> Projects In Missouri </h1>
<br></br>

<section class="fourSquares">

    <section>
    <h3>Mission Project</h3>
    <p> month/day/year </p>
    </section>

    <section>
    <h3>Mission Project</h3>
    <p> month/day/year </p>
    </section>

    <section>
    <h3>Mission Project</h3>
    <p> month/day/year </p>
    </section>

    <section>
    <h3>Mission Project</h3>
    <p> month/day/year </p>
    </section>

</section>


</body>

