{#
/**
 * Available variables:
 * - title: The main title of the accordion
 * - stats: Array stats
 */
#}
<section class="stats-container">
    <h2 class="title">{{ title }}</h2>
    <div class="stats-wrapper">
        {% for stat in stats.all() %}
        <div class="stat">
            {{ stat.statItem }}
        </div>
        {% endfor %}
    </div>
</section>
