<section class="stats-container">
    <h2 class="title">Mission Works & stats</h2>
    <div class="stats-wrapper">
        <div class="stat">
            <span class="stat-title">450</span>
            <h3 class="stat-details">Young adults involved,</h3>
        </div>
        <div class="stat">
            <span class="stat-title">65%</span>
            <h3>Job placement</h3>
        </div>
        <div class="stat">
            <span class="stat-title">5,000</span>
            <h3>Volunteer hours</h3>
        </div>
    </div>
</section>
