<section class="tab-block">
    <div class="tab-container">
        <div id="tab-one" class="tab">
            <h2>Step One (Learn)</h2>
        </div>
        <div id="tab-two" class="tab">
            <h2>Step Two (Leadership)</h2>
        </div>
        <div id="tab-three" class="tab">
            <h2>Step Three (Retreat)</h2>
        </div>
    </div>

    <div class="content-container">
        <div class="image-container">
            <img class="content-image" alt="some photo">
        </div>
        <div class="text-container">
            <h3>Learn The Gospel</h3>
            <p>This is some random text.</p>
            <p>So is this.</p>
            <p>And this.</p>
        </div>
        <div class="cta container">
            <a><p>Learn More/Download?</p><img class="cta-image" alt="right arrow svg"></a>
        </div>
    </div>



</section>
