<section class="tab-block">
    <div class="tab-container">
        <div class="tab tab-one active-tab">
            <h2>Step One (Learn)</h2>
        </div>
        <div class="tab tab-two">
            <h2>Step Two (Leadership)</h2>
        </div>
        <div class="tab tab-three">
            <h2>Step Three (Retreat)</h2>
        </div>
    </div>

    <div id="content-one" class="content-container active-content">
        <div class="image-container">
            <img src="https://placehold.co/200x200" class="content-image" alt="some photo">
        </div>
        <div class="text-container">
            <h3>Learn The Gospel</h3>
            <p>This is some random text.  It can be a couple sentences long. Something like this length will do nicely.</p>
            <p>This is also random text.  It can also be a sentence or two long. Like this or a little bit longer.</p>
            <p>And this.  Pretty neat sentences here.</p>
            <div class="cta-container">
                <a href=""><span>Learn More/Download?</span></a>
                <a href=""><img src="https://placehold.co/80X10" class="cta-image" alt="right arrow svg"></a>
            </div>
        </div>

    </div>

    <div id="content-two" class="content-container">
        <div class="image-container">
            <img class="content-image" alt="some photo">
        </div>
        <div class="text-container">
            <h3>Learn The Gospel</h3>
            <p>This is some random text.  It can be a couple sentences long.</p>
            <p>So is this.  It can also be a sentence or two long.</p>
            <p>And this.  </p>
            <div class="cta-container">
                <a><p>Learn More/Download?</p><img class="cta-image" alt="right arrow svg"></a>
            </div>
        </div>
    </div>

    <div id="content-three" class="content-container">
        <div class="image-container">
            <img class="content-image" alt="some photo">
        </div>
        <div class="text-container">
            <h3>Learn The Gospel</h3>
            <p>This is some random text.  It can be a couple sentences long.</p>
            <p>So is this.  It can also be a sentence or two long.</p>
            <p>And this.  </p>
            <div class="cta-container">
                <a><p>Learn More/Download?</p><img class="cta-image" alt="right arrow svg"></a>
            </div>
        </div>
    </div>

</section>
