<section class="tab-block js-tab-block">
    <div class="tab-container">
        <button class="tab active-tab js-tab-block-tab">
            <h2>Step One</h2>
        </button>
        <button class="tab js-tab-block-tab">
            <h2>Step Two</h2>
        </button>
        <button class="tab js-tab-block-tab">
            <h2>Step Three</h2>
        </button>
    </div>

    <div class="content-container active-content js-tab-block-content">
        <div class="image-container">
            <img src="https://placehold.co/340x440" class="content-image" alt="some photo">
        </div>
        <div class="text-container">
            <h3>Learn The Gospel</h3>
            <ul>
                <li>
                    <p>This is some random text.  It can be a couple sentences long. Something like this length will do nicely.</p>
                </li>
                <li>
                    <p>This is also random text.  It can also be a sentence or two long. Like this or a little bit longer.</p>
                </li>
                <li>
                    <p>And this.  Pretty neat sentences here.</p>
                </li>
            </ul>
            <a href=""><button class="CTA">LEARN MORE</button></a>
        </div>
    </div>

    <div class="content-container js-tab-block-content">
        <div class="image-container">
            <img src="https://placehold.co/340x440" class="content-image" alt="some photo">
        </div>
        <div class="text-container">
            <h3>Leadership</h3>
            <ul>
                <li>
                    <p>This is some random text.  It can be a couple sentences long. Something like this length will do nicely.</p>
                </li>
                <li>
                    <p>This is also random text.  It can also be a sentence or two long. Like this or a little bit longer.</p>
                </li>
                <li>
                    <p>And this.  Pretty neat sentences here.</p>
                </li>
            </ul>
            <a href=""><button class="CTA">LEARN MORE</button></a>
        </div>
    </div>

    <div class="content-container js-tab-block-content">
        <div class="image-container">
            <img src="https://placehold.co/340x440" class="content-image" alt="some photo">
        </div>
        <div class="text-container">
            <h3>Retreat</h3>
            <ul>
                <li>
                    <p>This is some random text.  It can be a couple sentences long. Something like this length will do nicely.</p>
                </li>
                <li>
                    <p>This is also random text.  It can also be a sentence or two long. Like this or a little bit longer.</p>
                </li>
                <li>
                    <p>And this.  Pretty neat sentences here.</p>
                </li>
            </ul>
            <a href=""><button class="CTA">LEARN MORE</button></a>
        </div>
    </div>

</section>
