<section class="tab-block JS-tab-block">
    <div class="tab-container">
        <button class="tab active-tab JS-tab-block-tab">
            <h2>Step One (Learn)</h2>
        </button>
        <button class="tab JS-tab-block-tab">
            <h2>Step Two (Leadership)</h2>
        </button>
        <button class="tab JS-tab-block-tab">
            <h2>Step Three (Retreat)</h2>
        </button>
    </div>

    <div class="content-container active-content JS-tab-block-content">
        <div class="image-container">
            <img src="https://placehold.co/200x200" class="content-image" alt="some photo">
        </div>
        <div class="text-container">
            <h3>Learn The Gospel</h3>
            <p>This is some random text.  It can be a couple sentences long. Something like this length will do nicely.</p>
            <p>This is also random text.  It can also be a sentence or two long. Like this or a little bit longer.</p>
            <p>And this.  Pretty neat sentences here.</p>
            <div class="cta-container">
                <a href="">Learn More/Download?</a>
                <a href=""><img src="https://placehold.co/80X10" class="cta-image" alt="right arrow svg"></a>
            </div>
        </div>
    </div>

    <div class="content-container JS-tab-block-content">
        <div class="image-container">
            <img src="https://placehold.co/200x200" class="content-image" alt="some photo">
        </div>
        <div class="text-container">
            <h3>Leadership</h3>
            <p>This is some random text.  It can be a couple sentences long. Something like this length will do nicely.</p>
            <p>This is also random text.  It can also be a sentence or two long. Like this or a little bit longer.</p>
            <p>And this.  Pretty neat sentences here.</p>
            <div class="cta-container">
                <a href="">Learn More/Download?</a>
                <a href=""><img src="https://placehold.co/80X10" class="cta-image" alt="right arrow svg"></a>
            </div>
        </div>
    </div>

    <div class="content-container JS-tab-block-tab">
        <div class="image-container">
            <img src="https://placehold.co/200x200" class="content-image" alt="some photo">
        </div>
        <div class="text-container">
            <h3>Retreat</h3>
            <p>This is some random text.  It can be a couple sentences long. Something like this length will do nicely.</p>
            <p>This is also random text.  It can also be a sentence or two long. Like this or a little bit longer.</p>
            <p>And this.  Pretty neat sentences here.</p>
            <div class="cta-container">
                <a href="">Learn More/Download?</a>
                <a href=""><img src="https://placehold.co/80X10" class="cta-image" alt="right arrow svg"></a>
            </div>
        </div>
    </div>

</section>
