<div class="callout-container">
  <div class="callout-section">
    <div class="callout-image">
      <img src="https://placehold.co/200x200" alt="an image in the callout section">
    </div>
    <div class="callout-text">
      <h2 class="callout-title"> <span class="callout-first-word"><em>Callout</em></span>  Title</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla euismod, nisl sed tincidunt aliquam, nunc nibh
        dapibus odio, quis tincidunt eros quam nec nisl. N
    </div>
  </div>

  <div class="callout-section">
    <div class="callout-image">
      <img src="https://placehold.co/200x200" alt="an image in the callout section">
    </div>
    <div class="callout-text">
      <h2 class="callout-title"> <span class="callout-first-word"><em>Callout</em></span>  Title</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla euismod, nisl sed tincidunt aliquam, nunc nibh
        dapibus odio, quis tincidunt eros quam nec nisl. N
    </div>
  </div>
  
  <div class="callout-section">
    <div class="callout-image">
      <img src="https://placehold.co/200x200" alt="an image in the callout section">
    </div>
    <div class="callout-text">
      <h2 class="callout-title"> <span class="callout-first-word"><em>Callout</em></span>  Title</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla euismod, nisl sed tincidunt aliquam, nunc nibh
        dapibus odio, quis tincidunt eros quam nec nisl. N
    </div>
  </div>
</div>
